* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', serif;
  color: #8693a0;
  font-size: 1em;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 1em;
}

#form-header h1 {
  font-size: 1.5em;
  background: #fa3a00;
  color: #fff;
  margin: 0;
  padding: 1.3em;
  text-transform: uppercase;
  font-weight: normal;
}

#form-intro {
  margin: 0 auto;
  padding: 0 1em;
}

#form-intro hr {
  height: 3px;
}

h2, legend {
  font-size: 1.4em;
  font-weight: bold;
  color: #2d3945;
}

legend {
  padding: 1.5em 0;
}

h1,h2, p {
  text-align: center;
}

hr {
  height: 1px;
  color: #000;
  background-color: #000;
  margin: 2px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input, button, textarea, select {
  display: inline-block;
  width: 100%;
  padding: 1.3em;
  margin: 1em 0;
  background-color: #edeeef;
  border: none;
  border-radius: 3px;
}

input[placeholder] {
  text-align: right;
  font-size: .8em;
  font-style: italic;
  color: #adb2b7;
}

label {
  display: block;
}

select {
  background: url('../img/arrow.svg') no-repeat #edeeef 95% center;
  background-size: 1em;
  margin-right: 1em;
  color: #b2b2b2;
}

#zip {
  width: 50%;
}

#newsletter p {
  text-align: initial;
}

#newsletter label,
#newsletter input[type="checkbox"],
#newsletter input[type="radio"] {
  display: inline;
  width: initial;
}

button {
  background: #fa3a00;
  color: #fff;
}