/** Utility Rules **/

* {
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }

  .lead {
  font-weight: bold;
  font-size: 1.1em;
}

/** Main Rules**/

body {
  font-family: 'Roboto', serif;
  color: #2a2a2a;
  font-size: 1em;
}

h1,h2, p {
  text-align: center;
}

form {
  max-width: 500px;
  margin: 20px auto;
  background-color: #fff;
  padding: 0 1em;
  border: 1px solid #fa3a00;
  box-shadow: 5px 5px 0px #fa3a00;
}

#form-header h1 {
  font-size: 1.5em;
  background: #fa3a00;
  color: #fff;
  margin: 0;
  padding: 1.3em;
  text-transform: uppercase;
  font-weight: normal;
  border-bottom: 3px solid #000;
}

#form-intro {
  margin: 0 auto;
  padding: 0 1em;
}

hr {
  height: 3px;
}

/** Form Rules **/

legend {
  background: #fa3a00;
  font-size: 1.4em;
  margin-left: -2px;
  padding: 5px 10px;
  color: #fff;
  margin-bottom: 20px;
}

fieldset {
  border: 1px solid #fa3a00;
  margin: 30px 0;
  background: #fdf6e3;
}

input, button, textarea, select {
  display: inline-block;
  width: 100%;
  padding: 20px;
  margin: 8px 0;
  background-color: #fbfbfb;
  border: 2px solid #fdf6e3;
  border-radius: 3px;
  text-align: left;
  transition: all .3s ease-in-out;
}

input {
  font-size: 1em;
}

input::-webkit-input-placeholder {
  text-align: right;
  color: #92969b;
  font-style: italic; 
}

label {
  display: block;
  margin-top: 20px;
}

.arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../img/arrow.svg') no-repeat #fbfbfb 95% center;
  background-size: 1em;
  margin-right: 1em;
  color: #b2b2b2;
}

input:focus, 
textarea:focus, 
select:focus {
  outline: none;
  background-color: #fff;
  border: 2px solid #fa6f46;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

#zip {
  width: 50%;
}

#newsletter p {
  text-align: initial;
}

input[type="checkbox"], input[type="radio"]{
  display: none;
}

input[type="checkbox"] + label, input[type="radio"] + label {
  position: relative;
}

input[type="checkbox"] + label:before {
  display: inline-block;
  width: 15px;
  height: 15px;
  content: "";
  border: 2px solid #fa3a00;
  padding: 2px;
  vertical-align: middle;
  margin-right: 10px;
  text-align: center;
  background: #efefef;
}

input[type="radio"]:checked + label:after,
input[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}

input[type="checkbox"]:checked + label:after {
  content: "\2714";
  position: absolute;
  left: 5px;
  bottom: 1px;
}

input[type="radio"] + label:before {
  display: inline-block;
  width: 15px;
  height: 15px;
  content: "";
  border: 2px solid #fa3a00;
  padding: 2px;
  vertical-align: middle;
  margin-right: 10px;
  text-align: center;
  background: #efefef;
  border-radius: 50%;
}

input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
}

input[type="radio"]:checked + label:after {
  content: "\25cf";
  position: absolute;
  left: 3px;
  bottom: -6px;
  font-size: 1.9em;
}

button {
  background: #2fd665;
  outline: none;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

button:hover {
  background-color: #22b573;
}

/** Media Queries **/

@media (min-width:760px) {
  form {
    max-width: 700px;
  }

  #contact-information label {
    width: 25%;
    float: left;
  }
  
  #contact-information input, select {
    width: 75%;
  }

  #state {
    float: right;
    margin: 8px 0;
  }

  #zip {
    width: 75%;
  }
  .zip-label {
      margin-top: 70px;
  }

  textarea {
    width: 100%;
  }
}

@media (min-width:1024px) {
  form {
    width: 90%;
    max-width: 1400px;
  }

  fieldset {
    min-height: 710px;
  }

  #contact-information {
    width: 45%;
    float: left;
    margin-right: 10px;
  }

  button {
    width: 30%;
    float: right;
  }
}